/* Font Variables */
/* Background Variables */
/* Hr Variables */
/* Padding Variables */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700,900");
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0; }
  body .container {
    width: 80%;
    margin: 0 auto; }

header {
  width: 100%;
  height: 768px;
  background: #f0f0f0; }
  header .container {
    padding-top: 30px; }
    header .container .logo {
      width: 50px;
      height: 70px;
      background: url("../img/bitrix.svg");
      float: left; }
      @media (max-width: 660px) {
        header .container .logo {
          margin: 0 auto;
          float: none; }
          header .container .logo h1 {
            display: none; } }
      header .container .logo h1 {
        margin-top: 0;
        margin-left: 50px;
        font-size: 55px;
        color: #46a57f; }
    header .container nav {
      float: right;
      margin-top: 30px;
      transition: .2s ease;
      -webkit-transform-origin: 0px 0px;
              transform-origin: 0px 0px; }
      @media (max-width: 660px) {
        header .container nav {
          margin: 30px auto;
          float: none;
          display: flex;
          justify-content: center; } }
      @media (max-width: 464px) {
        header .container nav {
          padding-bottom: 50px; } }
      @media (max-width: 354px) {
        header .container nav {
          display: inline-block;
          text-align: center;
          width: 100%;
          -webkit-transform: scale(0);
                  transform: scale(0);
          position: relative;
          z-index: 4;
          background: white;
          top: -60px;
          padding-bottom: 0px; } }
      header .container nav a {
        text-decoration: none;
        font-size: 18px;
        color: #252525;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 30px;
        transition: .3s ease; }
        @media (max-width: 660px) {
          header .container nav a {
            margin: 0 auto; } }
        @media (max-width: 429px) {
          header .container nav a {
            padding: 0px; } }
        @media (max-width: 354px) {
          header .container nav a {
            display: block;
            text-align: center;
            padding: 10px 0px 5px 0px; } }
      header .container nav a:hover {
        color: #46a57f; }
      header .container nav .active {
        color: #46a57f; }
      header .container nav .active:hover {
        color: #252525; }
    header .container .wrapper {
      clear: both;
      display: grid;
      grid-template-columns: 50% 50%; }
      header .container .wrapper .text-wrapper {
        position: relative;
        z-index: 10; }
        header .container .wrapper .text-wrapper h1 {
          font-size: 72px;
          color: #46a57f;
          margin: 130px 0 0 0; }
        header .container .wrapper .text-wrapper h2 {
          font-size: 72px;
          color: #252525;
          margin: 0;
          position: relative; }
        header .container .wrapper .text-wrapper hr {
          width: 100px;
          height: 5px;
          background: #46a57f;
          border: 0;
          display: inline-block; }
        header .container .wrapper .text-wrapper h4 {
          font-size: 24px;
          color: #46a57f;
          font-weight: 700;
          margin: 40px 0 0 0; }
        @media (max-width: 464px) {
          header .container .wrapper .text-wrapper h1,
          header .container .wrapper .text-wrapper h2 {
            font-size: 55px; } }
  @media (max-width: 464px) and (max-width: 353px) {
    header .container .wrapper .text-wrapper h1,
    header .container .wrapper .text-wrapper h2 {
      font-size: 48px; } }
        header .container .wrapper .text-wrapper .btn-learn-more {
          background: #00b57a;
          color: rgba(255, 255, 255, 0.8);
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 20px;
          cursor: pointer;
          box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
          transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
          padding: 0.5em 1.5em;
          border: none; }
        header .container .wrapper .text-wrapper .btn-learn-more:hover {
          -webkit-transform: scale(1.05);
                  transform: scale(1.05);
          box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3); }
      header .container .wrapper .image-wrapper {
        position: relative; }
        header .container .wrapper .image-wrapper .image-overlay {
          position: absolute;
          bottom: 0;
          left: -200px;
          width: 100%;
          height: 400px;
          background: #46a57f;
          backround-size: contain;
          opacity: 0.7;
          z-index: 1; }
          @media (max-width: 966px) {
            header .container .wrapper .image-wrapper .image-overlay {
              height: 60%;
              left: -100px; } }
          @media (max-width: 716px) {
            header .container .wrapper .image-wrapper .image-overlay {
              left: -50px;
              height: 50%; } }
        header .container .wrapper .image-wrapper .image-hero {
          width: 100%;
          height: 400px;
          background-image: url("../img/bg.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
          @media (max-width: 966px) {
            header .container .wrapper .image-wrapper .image-hero {
              background-size: contain; } }
        header .container .wrapper .image-wrapper hr {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
          width: 280px;
          border: 0;
          background: #ccc;
          height: 2px;
          position: absolute;
          z-index: 0;
          bottom: -100px; }
          @media (max-width: 966px) {
            header .container .wrapper .image-wrapper hr {
              display: none; } }

/* Media Queries */
@media screen and (max-width: 1100px) {
  header {
    width: 100%; }
    header .container {
      width: 95%; } }

@media (max-width: 660px) {
  header {
    height: 100%; }
    header .container {
      width: 100%; } }
    @media (max-width: 660px) and (max-width: 354px) {
      header .container .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 5; }
      header .container .mobile-nav {
        height: 50px;
        width: 50px;
        background: white;
        position: absolute;
        top: 20px;
        right: 10px;
        border-radius: 5px;
        border: 2px solid #252525;
        cursor: pointer;
        z-index: 4; }
        header .container .mobile-nav span,
        header .container .mobile-nav span:before,
        header .container .mobile-nav span:after {
          display: block;
          height: 4px;
          width: 100%;
          background: #252525;
          margin-top: 8px;
          content: "";
          position: relative;
          transition: .2s ease; }
        header .container .mobile-nav span:before {
          top: 17px; }
        header .container .mobile-nav span:after {
          bottom: -20px; }
        header .container .mobile-nav:hover span:before {
          background: transparent; }
        header .container .mobile-nav:hover span {
          background: #252525;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 0;
          bottom: 0;
          margin-top: 23px; }
        header .container .mobile-nav:hover span:after {
          background: #252525;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
          top: 0;
          bottom: 0;
          margin-top: -3px; } }

@media (max-width: 660px) {
      header .container .wrapper {
        display: block;
        text-align: center;
        position: relative; }
        header .container .wrapper .text-wrapper {
          margin: 0 auto;
          width: 100%;
          z-index: 3; }
          header .container .wrapper .text-wrapper h1 {
            color: white; } }
          @media (max-width: 660px) and (max-width: 354px) {
            header .container .wrapper .text-wrapper h1 {
              margin: 0px; } }

@media (max-width: 660px) {
          header .container .wrapper .text-wrapper h4 {
            color: white; }
        header .container .wrapper .image-wrapper .image-overlay {
          z-index: 2;
          height: 550px;
          left: 0;
          top: -450px; }
        header .container .wrapper .image-wrapper .image-hero {
          top: -450px;
          z-index: 2;
          position: absolute;
          background-size: cover;
          height: 550px;
          z-index: 1; } }
      @media (max-width: 660px) and (max-width: 468px) {
        header .container .wrapper .image-wrapper .image-overlay {
          opacity: 1; } }
      @media (max-width: 660px) and (max-width: 354px) {
        header .container .wrapper .image-wrapper .image-overlay,
        header .container .wrapper .image-wrapper .image-hero {
          top: -350px; } }

section#work {
  width: 100%;
  height: 775px;
  position: relative; }
  section#work .letter-design {
    font-size: 900px;
    position: absolute;
    z-index: 4;
    color: #06e18f;
    opacity: 0.4;
    top: -450px;
    left: -125px;
    font-weight: 500;
    pointer-events: none; }
    @media (max-width: 1220px) {
      section#work .letter-design {
        z-index: 0; } }
    @media (max-width: 496px) {
      section#work .letter-design {
        display: none; } }
  section#work hr {
    width: 200px;
    background: #252525;
    height: 2px;
    border: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    left: 140px;
    top: 90px; }
  section#work .hr-2 {
    width: 300px;
    background: #252525;
    height: 2px;
    border: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
    left: -400px;
    top: 90px; }
  section#work .image-consult {
    width: 800px;
    height: 400px;
    background-image: url("../img/work.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 170px;
    left: 130px;
    position: relative;
    z-index: 3; }
    section#work .image-consult .video-icon {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      border: 5px solid #46a57f;
      transition: all 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01); }
      section#work .image-consult .video-icon .play-icon {
        transition: all 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01);
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        bottom: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #46a57f;
        border-bottom: 10px solid transparent; }
    section#work .image-consult .video-icon:hover {
      -webkit-animation: video .3s ease-in 0s;
              animation: video .3s ease-in 0s;
      border: 5px solid white; }
      section#work .image-consult .video-icon:hover .play-icon {
        border-left: 20px solid white; }

@-webkit-keyframes video {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  50%, 70% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }

@keyframes video {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }
  50%, 70% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
  section#work .consult-text {
    width: 450px;
    height: 200px;
    background: #373dcc;
    position: absolute;
    top: 0;
    right: 140px;
    z-index: 3;
    margin-top: 270px;
    text-align: center;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    section#work .consult-text h4 {
      font-size: 32px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      letter-spacing: 4px;
      margin-left: -60px;
      margin-top: 40px;
      text-align: left; }
    section#work .consult-text hr {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      background: #00b57a;
      border: 0;
      height: 5px;
      width: 100px;
      position: absolute;
      left: -70px; }
    section#work .consult-text p {
      font-size: 14px;
      color: white;
      font-weight: 700;
      text-align: left;
      max-width: 383px;
      margin-left: 40px; }
  section#work button {
    background: #00b57a;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
    transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
    padding: 0.5em 1.5em;
    border: none;
    display: inline-block;
    position: absolute;
    z-index: 10;
    right: 150px;
    bottom: 280px; }
    @media (max-width: 929px) {
      section#work button {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 200px; } }
  section#work button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3); }
  section#work .consult-text:hover {
    box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3);
    -webkit-animation: myframes .3s ease-in 0s;
            animation: myframes .3s ease-in 0s; }

@-webkit-keyframes myframes {
  0% {
    margin-top: 270px; }
  50%, 70% {
    margin-top: 250px; }
  100% {
    margin-top: 270px; } }

@keyframes myframes {
  0% {
    margin-top: 270px; }
  50%, 70% {
    margin-top: 250px; }
  100% {
    margin-top: 270px; } }

/* Media Queries */
@media screen and (max-width: 1220px) {
  section#work .image-consult {
    left: 50px;
    width: 60%; }
  section#work .consult-text {
    right: 50px; } }

@media screen and (max-width: 1220px) and (max-width: 929px) {
  section#work hr {
    display: none; }
  section#work .image-consult {
    margin: 50px auto;
    left: 0;
    right: 0;
    position: relative;
    width: 80%; }
    section#work .image-consult .video-icon {
      position: absolute;
      top: 0px;
      z-index: 3; } }
  @media screen and (max-width: 1220px) and (max-width: 929px) and (max-width: 469px) {
    section#work .image-consult {
      background-size: contain; } }

@media screen and (max-width: 1220px) and (max-width: 929px) {
  section#work .consult-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto; }
    section#work .consult-text h4 {
      text-align: center;
      margin-left: 0; } }
    @media screen and (max-width: 1220px) and (max-width: 929px) and (max-width: 450px) {
      section#work .consult-text h4 {
        font-size: 6vw; } }

@media screen and (max-width: 1220px) and (max-width: 929px) {
    section#work .consult-text p {
      text-align: center;
      margin: 0 auto; } }
    @media screen and (max-width: 1220px) and (max-width: 929px) and (max-width: 450px) {
      section#work .consult-text p {
        font-size: 14px; } }
  @media screen and (max-width: 1220px) and (max-width: 929px) and (max-width: 450px) {
    section#work .consult-text {
      width: 100%; } }
  @media screen and (max-width: 1220px) and (max-width: 929px) and (max-width: 929px) {
    section#work .consult-text hr {
      display: block;
      position: static; } }

@media screen and (max-width: 1220px) and (max-width: 660px) {
  section#work {
    margin-top: 200px; } }

section#services {
  width: 100%;
  height: 1000px;
  background: #f0f0f0;
  padding-top: 30px;
  position: relative;
  overflow: hidden; }
  @media (max-width: 735px) {
    section#services {
      display: inline-block;
      height: 1200px; } }
  section#services .letter-design {
    font-size: 900px;
    position: absolute;
    z-index: 1;
    color: #06e18f;
    opacity: 0.4;
    right: -180px;
    font-weight: 500;
    bottom: -550px;
    pointer-events: none; }
    @media (max-width: 1220px) {
      section#services .letter-design {
        z-index: 0; } }
    @media (max-width: 735px) {
      section#services .letter-design {
        display: none; } }
  section#services h1 {
    font-size: 55px;
    color: #252525;
    border: 10px solid #06e18f;
    width: 400px;
    text-align: center;
    margin: 15px 0px 0px 150px;
    text-transform: uppercase; }
    @media (max-width: 735px) {
      section#services h1 {
        margin: 0 auto; } }
    @media (max-width: 400px) {
      section#services h1 {
        font-size: 32px;
        width: 100%; } }
  section#services h4 {
    color: #06e18f;
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    left: 500px; }
    @media (max-width: 1330px) {
      section#services h4 {
        left: 400px; } }
    @media (max-width: 1040px) {
      section#services h4 {
        left: 250px; } }
    @media (max-width: 735px) {
      section#services h4 {
        margin: 20px auto -30px;
        position: static;
        text-align: center; } }
  section#services .service-container {
    width: 100%;
    height: auto;
    position: relative;
    top: 50px; }
    @media (max-width: 735px) {
      section#services .service-container {
        display: inline-block; } }
    section#services .service-container .btn-view-all {
      position: absolute;
      border: 0;
      background: #06e18f;
      z-index: 20;
      font-size: 20px;
      font-weight: 600;
      padding: 0.3em 0.8em;
      bottom: -800px;
      cursor: pointer;
      margin: auto;
      left: 0;
      right: 0;
      text-transform: uppercase;
      color: white;
      box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
      transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01); }
      @media (max-width: 735px) {
        section#services .service-container .btn-view-all {
          top: 200px;
          height: 35px; } }
    section#services .service-container .btn-view-all:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3); }
    section#services .service-container .service-1 {
      width: 450px;
      height: 200px;
      background-image: url("../img/work-1.jpg");
      background-size: cover;
      background-position: center center;
      position: absolute;
      right: 200px;
      text-align: left;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      cursor: pointer; }
      @media (max-width: 1250px) {
        section#services .service-container .service-1 {
          right: 100px; } }
      @media (max-width: 1100px) {
        section#services .service-container .service-1 {
          right: 10px; } }
      @media (max-width: 920px) {
        section#services .service-container .service-1 {
          width: 40%; } }
      @media (max-width: 735px) {
        section#services .service-container .service-1 {
          position: static;
          margin: 0 auto;
          width: 60%; } }
      @media (max-width: 480px) {
        section#services .service-container .service-1 {
          width: 90%; } }
      section#services .service-container .service-1 .title {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        color: #252525;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-top: 100px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-1 .title {
            margin: 100px auto 0px; } }
        @media (max-width: 309px) {
          section#services .service-container .service-1 .title {
            font-size: 18px; } }
      section#services .service-container .service-1 hr {
        width: 50px;
        height: 10px;
        background: #06e18f;
        border: 0;
        position: absolute;
        left: 40px;
        bottom: -65px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-1 hr {
            position: static;
            margin: 0 auto; } }
      section#services .service-container .service-1 .desc {
        padding-left: 10px;
        font-size: 14px;
        max-width: 300px;
        margin-left: 100px;
        margin-top: -10px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-1 .desc {
            position: static;
            margin: 0 auto;
            text-align: center;
            max-width: 100%; } }
    section#services .service-container .service-1:hover {
      -webkit-animation: servicesAnim .3s ease-in 0s;
              animation: servicesAnim .3s ease-in 0s; }
      section#services .service-container .service-1:hover .title {
        -webkit-animation: titleAnim .3s ease-in 0s;
                animation: titleAnim .3s ease-in 0s; }
      section#services .service-container .service-1:hover hr {
        -webkit-animation: hrAnim .3s ease-in 0s;
                animation: hrAnim .3s ease-in 0s; }
    section#services .service-container .service-2 {
      width: 450px;
      height: 200px;
      background-image: url("../img/work-2.jpg");
      background-size: cover;
      background-position: center center;
      position: absolute;
      left: 150px;
      top: 100px;
      text-align: left;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      cursor: pointer; }
      @media (max-width: 1250px) {
        section#services .service-container .service-2 {
          left: 100px; } }
      @media (max-width: 1100px) {
        section#services .service-container .service-2 {
          left: 10px; } }
      @media (max-width: 920px) {
        section#services .service-container .service-2 {
          width: 40%; } }
      @media (max-width: 735px) {
        section#services .service-container .service-2 {
          position: static;
          margin: 100px auto 0;
          width: 60%; } }
      @media (max-width: 480px) {
        section#services .service-container .service-2 {
          width: 90%; } }
      section#services .service-container .service-2 .title {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        color: #252525;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-top: 100px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-2 .title {
            margin: 100px auto 0px; } }
        @media (max-width: 309px) {
          section#services .service-container .service-2 .title {
            font-size: 18px; } }
      section#services .service-container .service-2 hr {
        width: 50px;
        height: 10px;
        background: #06e18f;
        border: 0;
        position: absolute;
        left: 40px;
        bottom: -35px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-2 hr {
            margin: 0 auto;
            position: static; } }
      section#services .service-container .service-2 .desc {
        padding-left: 10px;
        font-size: 14px;
        max-width: 300px;
        margin-left: 100px;
        margin-top: -10px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-2 .desc {
            position: static;
            margin: 0 auto;
            text-align: center;
            max-width: 100%; } }
    section#services .service-container .service-2:hover {
      -webkit-animation: servicesAnim .3s ease-in 0s;
              animation: servicesAnim .3s ease-in 0s; }
      @media (max-width: 735px) {
        section#services .service-container .service-2:hover {
          -webkit-animation: servicesAnim2 .3s ease-in 0s;
                  animation: servicesAnim2 .3s ease-in 0s; } }
      section#services .service-container .service-2:hover .title {
        -webkit-animation: titleAnim .3s ease-in 0s;
                animation: titleAnim .3s ease-in 0s; }
      section#services .service-container .service-2:hover hr {
        -webkit-animation: hrAnim2 .3s ease-in 0s;
                animation: hrAnim2 .3s ease-in 0s; }
    section#services .service-container .service-3 {
      width: 450px;
      height: 200px;
      background-image: url("../img/work-3.jpg");
      background-size: cover;
      background-position: center center;
      position: absolute;
      right: 200px;
      top: 350px;
      text-align: left;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      cursor: pointer;
      z-index: 1; }
      @media (max-width: 1250px) {
        section#services .service-container .service-3 {
          right: 100px; } }
      @media (max-width: 1100px) {
        section#services .service-container .service-3 {
          right: 10px; } }
      @media (max-width: 920px) {
        section#services .service-container .service-3 {
          width: 40%; } }
      @media (max-width: 735px) {
        section#services .service-container .service-3 {
          position: static;
          margin: 100px auto;
          width: 60%; } }
      @media (max-width: 480px) {
        section#services .service-container .service-3 {
          width: 90%; } }
      section#services .service-container .service-3 .title {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        color: #252525;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-top: 100px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-3 .title {
            margin: 100px auto 0;
            position: static; } }
        @media (max-width: 309px) {
          section#services .service-container .service-3 .title {
            font-size: 18px; } }
      section#services .service-container .service-3 hr {
        width: 50px;
        height: 10px;
        background: #06e18f;
        border: 0;
        position: absolute;
        left: 40px;
        bottom: -65px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-3 hr {
            margin: 0 auto;
            position: static; } }
      section#services .service-container .service-3 .desc {
        padding-left: 10px;
        font-size: 14px;
        max-width: 300px;
        margin-left: 100px;
        margin-top: -10px;
        pointer-events: none; }
        @media (max-width: 735px) {
          section#services .service-container .service-3 .desc {
            position: static;
            margin: 0 auto;
            text-align: center;
            max-width: 100%; } }
    section#services .service-container .service-3:hover {
      -webkit-animation: servicesAnim .3s ease-in 0s;
              animation: servicesAnim .3s ease-in 0s; }
      @media (max-width: 735px) {
        section#services .service-container .service-3:hover {
          -webkit-animation: servicesAnim2 .3s ease-in 0s;
                  animation: servicesAnim2 .3s ease-in 0s; } }
      section#services .service-container .service-3:hover .title {
        -webkit-animation: titleAnim .3s ease-in 0s;
                animation: titleAnim .3s ease-in 0s; }
      section#services .service-container .service-3:hover hr {
        -webkit-animation: hrAnim .3s ease-in 0s;
                animation: hrAnim .3s ease-in 0s; }

@-webkit-keyframes servicesAnim {
  0% {
    margin-top: 0px; }
  50%, 70% {
    margin-top: -20px; }
  100% {
    margin-top: 0px; } }

@keyframes servicesAnim {
  0% {
    margin-top: 0px; }
  50%, 70% {
    margin-top: -20px; }
  100% {
    margin-top: 0px; } }

@-webkit-keyframes servicesAnim2 {
  0% {
    margin-top: 100px; }
  50%, 70% {
    margin-top: 80px; }
  100% {
    margin-top: 100px; } }

@keyframes servicesAnim2 {
  0% {
    margin-top: 100px; }
  50%, 70% {
    margin-top: 80px; }
  100% {
    margin-top: 100px; } }

@-webkit-keyframes titleAnim {
  0% {
    margin-top: 100px; }
  50%, 70% {
    margin-top: 80px; }
  100% {
    margin-top: 100px; } }

@keyframes titleAnim {
  0% {
    margin-top: 100px; }
  50%, 70% {
    margin-top: 80px; }
  100% {
    margin-top: 100px; } }

@-webkit-keyframes hrAnim {
  0% {
    bottom: -65px; }
  50%, 70% {
    bottom: -55px; }
  100% {
    bottom: -65px; } }

@keyframes hrAnim {
  0% {
    bottom: -65px; }
  50%, 70% {
    bottom: -55px; }
  100% {
    bottom: -65px; } }

@-webkit-keyframes hrAnim2 {
  0% {
    bottom: -35px; }
  50%, 70% {
    bottom: -25px; }
  100% {
    bottom: -35px; } }

@keyframes hrAnim2 {
  0% {
    bottom: -35px; }
  50%, 70% {
    bottom: -25px; }
  100% {
    bottom: -35px; } }
    section#services .service-container h1 {
      border: 0px;
      color: #06e18f;
      position: relative;
      top: -30px;
      left: 0;
      margin: 0;
      width: 100px; }

section#testimonials {
  width: 80%;
  height: 1100px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 420px) {
    section#testimonials {
      width: 95%; } }
  section#testimonials .hr-one {
    position: absolute;
    width: 120px;
    height: 2px;
    background: #ccc;
    border: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 0;
    right: 0;
    top: -85px;
    margin-left: auto;
    margin-right: auto; }
  section#testimonials .hr-two {
    position: absolute;
    width: 200px;
    height: 2px;
    background: #ccc;
    border: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 0;
    right: 0;
    bottom: 550px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1; }
  section#testimonials .letter-design {
    font-size: 300px;
    font-weight: 700;
    color: #06e18f;
    position: absolute;
    left: 100px;
    top: -120px;
    z-index: 2; }
  section#testimonials .testimonial-box {
    width: 800px;
    height: 400px;
    background-image: url("../img/slide1.jpg");
    background-position: center center;
    background-size: cover;
    margin: 150px auto 50px;
    position: relative; }
    @media (max-width: 990px) {
      section#testimonials .testimonial-box {
        width: 100%; } }
    section#testimonials .testimonial-box .box-content,
    section#testimonials .testimonial-box .box-content-2,
    section#testimonials .testimonial-box .box-content-3 {
      position: absolute;
      transition: all 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01); }
      section#testimonials .testimonial-box .box-content h1,
      section#testimonials .testimonial-box .box-content-2 h1,
      section#testimonials .testimonial-box .box-content-3 h1 {
        text-align: left;
        padding-top: 150px;
        font-size: 55px;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: white;
        margin: 0;
        margin-left: 40px; }
        @media (max-width: 990px) {
          section#testimonials .testimonial-box .box-content h1,
          section#testimonials .testimonial-box .box-content-2 h1,
          section#testimonials .testimonial-box .box-content-3 h1 {
            text-align: center;
            margin-left: 0; } }
        @media (max-width: 716px) {
          section#testimonials .testimonial-box .box-content h1,
          section#testimonials .testimonial-box .box-content-2 h1,
          section#testimonials .testimonial-box .box-content-3 h1 {
            font-size: 32px;
            padding-top: 80px;
            padding-left: 0px;
            padding-right: 0; } }
      section#testimonials .testimonial-box .box-content hr,
      section#testimonials .testimonial-box .box-content-2 hr,
      section#testimonials .testimonial-box .box-content-3 hr {
        position: absolute;
        width: 150px;
        height: 10px;
        border: 0;
        left: -60px;
        background: #06e18f; }
        @media (max-width: 716px) {
          section#testimonials .testimonial-box .box-content hr,
          section#testimonials .testimonial-box .box-content-2 hr,
          section#testimonials .testimonial-box .box-content-3 hr {
            position: static;
            margin: 0 auto; } }
      section#testimonials .testimonial-box .box-content p,
      section#testimonials .testimonial-box .box-content-2 p,
      section#testimonials .testimonial-box .box-content-3 p {
        font-size: 20px;
        color: white;
        max-width: 610px;
        margin: 0 0 0 100px; }
        @media (max-width: 716px) {
          section#testimonials .testimonial-box .box-content p,
          section#testimonials .testimonial-box .box-content-2 p,
          section#testimonials .testimonial-box .box-content-3 p {
            position: static;
            margin: 0 auto;
            text-align: center;
            width: 100%; } }
        @media (max-width: 420px) {
          section#testimonials .testimonial-box .box-content p,
          section#testimonials .testimonial-box .box-content-2 p,
          section#testimonials .testimonial-box .box-content-3 p {
            font-size: 16px; } }
    section#testimonials .testimonial-box .box-content-2,
    section#testimonials .testimonial-box .box-content-3 {
      opacity: 0; }
  section#testimonials .testimonial-nav {
    position: absolute;
    right: -30px;
    top: 100px; }
    @media (max-width: 1220px) {
      section#testimonials .testimonial-nav {
        position: static; } }
    @media (max-width: 1220px) {
      section#testimonials .testimonial-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto; } }
    section#testimonials .testimonial-nav ul li {
      list-style: none;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      position: relative;
      right: 45px;
      transition: all 300ms;
      cursor: pointer;
      width: 44px; }
      @media (max-width: 1220px) {
        section#testimonials .testimonial-nav ul li {
          width: auto;
          margin: 0 0;
          padding: 0 30px;
          position: static;
          text-align: center; } }
      @media (max-width: 420px) {
        section#testimonials .testimonial-nav ul li {
          padding: 0 15px; } }
    section#testimonials .testimonial-nav ul .active {
      color: #373dcc;
      -webkit-transform: scale(2);
              transform: scale(2); }
      @media (max-width: 480px) {
        section#testimonials .testimonial-nav ul .active {
          -webkit-transform: scale(1.8);
                  transform: scale(1.8); } }
    section#testimonials .testimonial-nav ul .active:hover {
      color: #ccc; }
    section#testimonials .testimonial-nav ul .deactive {
      color: #ccc;
      transition: all 300ms;
      cursor: pointer; }
    section#testimonials .testimonial-nav ul .deactive:hover {
      color: #373dcc; }
  @media (max-width: 1220px) {
    section#testimonials .btn-grp {
      display: flex;
      margin: 50px auto;
      justify-content: center; } }
  section#testimonials .btn-grp .next {
    position: absolute;
    top: -50px;
    left: 35px;
    width: 20px;
    height: 20px;
    background-image: url("../img/arrow.png");
    background-size: cover;
    background-position: center center;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    @media (max-width: 1220px) {
      section#testimonials .btn-grp .next {
        position: static;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        margin-right: 10px; } }
  section#testimonials .btn-grp .previous {
    position: absolute;
    bottom: -50px;
    left: 35px;
    width: 20px;
    height: 20px;
    background-image: url("../img/arrow.png");
    background-size: cover;
    background-position: center center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media (max-width: 1220px) {
      section#testimonials .btn-grp .previous {
        position: static;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        margin-left: 10px; } }
  section#testimonials .btn-grp .next:hover,
  section#testimonials .btn-grp .previous:hover {
    background-image: url("../img/arrow-ac.png"); }

footer {
  margin-top: -100px;
  width: 100%;
  height: 450px;
  background: #06e18f;
  position: relative; }
  footer .newsletter-box {
    width: 80%;
    height: 400px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    @media (max-width: 600px) {
      footer .newsletter-box {
        background-size: contain; } }
    @media (max-width: 600px) {
      footer .newsletter-box {
        width: 100%; } }
    footer .newsletter-box .newsletter {
      width: 50%;
      height: 250px;
      background: white;
      margin: 300px auto 0;
      position: relative; }
      @media (max-width: 833px) {
        footer .newsletter-box .newsletter {
          width: 80%; } }
      @media (max-width: 533px) {
        footer .newsletter-box .newsletter {
          width: 80%;
          margin: 150px auto 0; } }
      footer .newsletter-box .newsletter h3 {
        font-size: 36px;
        letter-spacing: 8px;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-top: 26px;
        color: #252525; }
        @media (max-width: 533px) {
          footer .newsletter-box .newsletter h3 {
            font-size: 24px; } }
      footer .newsletter-box .newsletter hr {
        width: 100px;
        height: 10px;
        background: #06e18f;
        border: 0;
        position: absolute;
        left: -50px; }
        @media (max-width: 833px) {
          footer .newsletter-box .newsletter hr {
            margin: 0 auto;
            position: static; } }
      footer .newsletter-box .newsletter p {
        text-align: left;
        font-size: 14px;
        color: black;
        margin: 5px 0 0 60px; }
        @media (max-width: 833px) {
          footer .newsletter-box .newsletter p {
            text-align: center;
            margin: 5px 0; } }
      footer .newsletter-box .newsletter input {
        border: 2px solid #ccc;
        width: 70%;
        padding: 8px 8px;
        margin-top: 20px;
        color: #252525; }
      footer .newsletter-box .newsletter .btn-submit {
        display: block;
        margin: 25px auto 0;
        font-size: 14px;
        letter-spacing: 4px;
        color: white;
        border: 0;
        background: #373dcc;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 15px;
        cursor: pointer;
        box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
        transition: all 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01); }
      footer .newsletter-box .newsletter .btn-submit:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.3); }
  footer .information {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 10px; }
    footer .information .logo {
      width: 50px;
      height: 70px;
      background-image: url("../img/bitrix-2.svg");
      background-size: cover;
      background-position: center center;
      margin: 20px auto; }
    footer .information a {
      font-size: 14px;
      color: white;
      text-decoration: none;
      padding: 0 40px; }
      @media (max-width: 533px) {
        footer .information a {
          padding: 0 20px; } }
      @media (max-width: 372px) {
        footer .information a {
          padding: 0 10px; } }
    footer .information .copyright {
      margin-top: 30px; }
    footer .information p {
      color: white;
      font-size: 14px;
      margin: 0; }
